@media (min-width: 500px){
    h4::before{
        content: "Hey Everyone I'm Aditya Yadav";
    }
    
        
    
}
@media (max-width: 499px){
    h4::before{
        content: "Hey Everyone I'm Aditya Yadav";
    }
    

}


@media screen and (max-width: 499px){
    div.intro{
        width: 80%;
    }
}

